.cabecalho {
    align-items: center;
    background: var(--cinza-claro);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__item:last-child .menu-link {
    margin-right: 0;
}

.menu__link {
    color: var(--cinza-medio);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.ativo {
    color: var(--cinza-escuro);
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}
