.cabecalho {
    align-items: center;
    background: var(--cinza-claro);
    display: flex;
}

.menu__lista {
    display: flex;
}

.menu__item {
    list-style: none;
}

.menu__item:last-child .menu-link {
    margin-right: 0;
}

.menu__link {
    color: var(--cinza-medio);
    margin-right: 1.25rem;
    text-decoration: none;
    text-transform: lowercase;
}

.menu__link.ativo {
    color: var(--cinza-escuro);
    font-weight: bold;
}

.menu__link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 0) {
    .cabecalho {
        justify-content: center;
        padding: 0 1rem;
    }

    .logo {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        padding: 0 5rem;
        justify-content: space-between;
    }

    .logo {
        display: block;
    }
}
