:root {
    --branco: #fff;
    --branco-medio: #fdfdfd;
    --cinza-claro: #f9f9f9;
    --cinza-medio: #808080;
    --cinza-escuro: #333333;
    --vermelho-claro: #af4545;
    --vermelho-escuro: #8d0606;

    --titulo-principal: "Pacifico", cursive;
}
